node_modules/
dist/
.pnpm-store/
.env
.env.*
!.env.example
/public/assets/videos/
/public/assets/images/*
!/public/assets/images/ai-*.jpg
切分素材/
效果演示.png
主体素材.png
*.log
current-preview.png
.DS_Store

# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
